In [36]:
# Compute the correlation of each row of df with its succeeding row.
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

[0.55, -0.16, -0.29, -0.23, 0.5, 0.29, -0.46]

In [39]:
# Replace both values in both diagonals of df with 0.
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df

for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
df

    0   1   2   3   4   5   6   7   8   9
0   0  11  66   3  88  77  40  37  36   0
1  20   0  40  88  75  80  93  53   0  14
2  34  16   0  89  24  60   9   0  78  48
3  46  26  32   0  39  81   0  85  61  18
4  16  86  20  21   0   0  60  12  49   7
5  91  18  77  59   0   0  52  31  83  28
6  71  54  40   0  97  46   0  89  51  47
7  61  81   0  81  35  82  87   0  48   4
8  77   0   6  67  65  46  60  10   0  68
9   0  83  85  80  14  76  50  89  82   0

In [40]:
# From df_grouped, get the group belonging to 'apple' as a dataframe.
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

df_grouped.get_group('apple')

    col1      col2  col3
0  apple  0.559217    10
3  apple  0.849607     6
6  apple  0.435130    14

In [42]:
# In df, find the second largest value of 'taste' for 'banana'
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'taste':['sweet','more sweet','sour']*3,
                   'price': np.random.randint(0, 15, 9)})

df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

'more sweet'

In [11]:
#Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

import numpy as np
import pandas as pd 

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

pd.merge(df1, df2, how='inner',left_on=['fruit', 'weight'],right_on=['pazham','kilo'], suffixes=['_left','_right'])

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           9   apple  high            2
1   apple   high          14   apple  high            2
2   apple   high           0   apple  high            2
3  orange    low           7  orange   low           12
4  orange    low           3  orange   low           12
5  orange    low           1  orange   low           12

In [12]:
# From df1, remove the rows that are present in df2. All three columns must be the same.

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
0   apple    high      7
1  banana  medium      3
2  orange     low      8
3   apple    high      6
4  banana  medium      4
5  orange     low      5
6   apple    high      6
7  banana  medium      3
8  orange     low      2

In [18]:
# Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  60  37  23  87     NaN     56.0
1  27  56  18   1    60.0     36.0
2  58  36  72  24    27.0      8.0
3  66   8  33  46    58.0     94.0
4  88  94  64  35    66.0      NaN

In [25]:
# Get the frequency of unique values in the entire dataframe df.
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
df

pd.value_counts(df.values.ravel()) # ravel defines in 1-D array

5    5
8    4
3    4
1    4
4    2
7    1
dtype: int64

In [30]:
# Split the string column in df to form a dataframe with 3 columns as shown.
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)

# Solution
df_out = df.row.str.split(',|\t', expand=True)

# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header

print(df_out)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka
0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [28]:
# Compute the euclidean distance between two arrays a and b.

a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])

dist = np.linalg.norm(a-b)
dist

6.708203932499369

In [35]:
# Compute the moving average of window size 3, for the given 1D array.

np.random.seed(100)
Z = np.random.randint(10, size=10)

def moving_average(a, n=3):
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n

np.random.seed(100)
Z = np.random.randint(10, size=10)
print('array:', Z)

#method1 
moving_average(Z, n=3).round(2)

#Method 2
# np.ones(3)/3 gives equal weights. Use np.ones(4)/4 for window size 4.

np.convolve(Z, np.ones(3)/3, mode='valid')

array: [8 8 3 7 7 0 4 2 5 2]

array([6.33333333, 6.        , 5.66666667, 4.66666667, 3.66666667,
       2.        , 3.66666667, 3.        ])